<div id="conteudo" style="font-family: Helvetica">
    <div class="teste">
        <h1 style="color: red;">My title</h1>
        <p>
            This is a sentence with a <strong>bold word</strong>, <em>one in italic</em>,
            and <u>one with underline</u>. And finally <a href="https://www.somewhere.com">a link</a>.
        </p>
    </div>

    <table>
        <thead style="background-color: #696969; color: #ececec">
            <tr>
                <th style="padding: 5px">titulo</th>
                <th style="padding: 5px">titulo</th>
                <th style="padding: 5px">titulo</th>
                <th style="padding: 5px">titulo</th>
                <th style="padding: 5px">titulo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
            </tr>
        </tbody>
    </table>
</div>


<button (click)="gerarPDF()">Open PDF</button>